header {
  width: 100%;
  background: rgb(17, 82, 202);
  color: rgb(247, 247, 247);
  padding: 10px;
}

.header-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.header-container h1 {
  font-size: 38px;
}
